<html>
  <head>
    <meta charset="utf-8">
    <title>Host</title>
  </head>
  <body>
    <table border="1">
        {% for item in data %}
        <tr>
            {% for j in item %}
            <td>
              {% if j == 'Free' %}
                <font style="background:#00CC00">{{j}}</font>
              {% elif j == 'Busy' %}
                <font style="background:#FF0000">{{j}}</font>
              {% else %}
                {{j}}
              {% endif %}
            </td>
            {% endfor %}
        </td>
        {% endfor %}
    </table>
  </body>
</html>
